/* Heading style */
.home-container{
  padding: 80px 100px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #2c3e50;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Grid layout for job cards */
.job-list {
  margin-top: 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .job-list {
  }

  h1 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .job-list {
    grid-template-columns: 1fr;
  }

  .home-container{
    padding: 0 20px;
  }
  h1 {
    font-size: 24px;
  }
}
